body{
  margin: 0 20vw;
  padding: 0;
  min-width: 1000px;
  position: fixed;
  font-family:sans-serif;
  background: #eef8f5;
}
#div-top{
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
nav{
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
nav ul{
  display: flex;
  gap: 55px;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav a{
  color: #1F1534;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
  color: rgb(162, 0, 255);
  transition: .2s;
}
main{
  display: flex;
}
.hero{
  width: 480px;
}
.hero h1{
  font-weight: normal;
  font-size: 3em;
  text-align: left;
}
.hero p{
  width: 400px;
  margin-bottom: 30px;

  color: #7D7987;
  text-align: left;
  line-height: 30px;

}
span{
  color:#89C5CC;
  font-weight: bold;
}

.button{
  border-radius: 4px;
  border: none;
  background:#69B99D ;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 8px;
}
.button:hover{
  background:#1e5f48 ;
  transition: .5s;
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
footer a{
  text-decoration: none;
  color: #1F1534;
  font-weight: bold;
}
